<div class="board-wrapper">
    <div class="board-top-section">
        <div class="input-container"><input type="text" class="board-search" placeholder="Find Task">
            <div class="vertical-line"></div><img src="/assets/img/icons/search_task.png">
        </div>
        <button class="blue-btn">Add Task<img src="/assets/img/icons/add_task_white.png"></button>
    </div>
    <div class="board-bottom-section">
        <div class="board-column">
            <div class="board-column-container">
                <div class="board-column-top">
                    <h3>To do</h3>
                    <button class="add-btn"><img src="/assets/img/icons/add_task_blue.png"></button>
                </div>
                <div class="board-column-bottom">
                    @if ("tasks$ | async as tasks") {
                    @for (task of tasks$ | async; track task; let index = $index) {
                    @if (task.status == 'TODO' ) {
                    <div class="single-task">
                        <div class="task-category">
                            <h4 class="{{task.category}}">{{task.category}}</h4>
                        </div>
                        <div class="task-title">
                            <span>{{task.title}}</span>
                        </div>
                        <div class="task-description">
                            <p>{{task.description}}</p>
                        </div>
                        <div class="progress-container">
                            <progress max="100" value="0"></progress>
                            <span>1/2 Subtasks</span>

                        </div>

                        <div class="single-task-bottom">
                            <div class="task-assignee">
                                <div class="assignee"><span>BT</span>
                                </div>
                                <div class="assignee"><span>BT</span>
                                </div>
                                <div class="assignee"><span>BT</span>
                                </div>
                            </div>
                            <div class="task-prio">
                                <img [src]="getPriorityIcon(task.priority)" alt="{{task.priority}} priority icon">
                            </div>
                        </div>
                    </div>
                    }
                    }
                    }
                </div>
            </div>
            <div class="board-column-container">
                <div class="board-column-top">
                    <h3>In progress</h3>
                    <button class="add-btn"><img src="/assets/img/icons/add_task_blue.png"></button>
                </div>
                <div class="board-column-bottom">

                </div>
            </div>
            <div class="board-column-container">
                <div class="board-column-top">
                    <h3>Await feedback</h3>
                    <button class="add-btn"><img src="/assets/img/icons/add_task_blue.png"></button>
                </div>
                <div class="board-column-bottom">

                </div>
            </div>
            <div class="board-column-container">
                <div class="board-column-top">
                    <h3>Done</h3>
                    <button class="add-btn"><img src="/assets/img/icons/add_task_blue.png"></button>
                </div>
                <div class="board-column-bottom">

                </div>
            </div>
        </div>
    </div>
</div>