<div class="board-wrapper">
    <div class="board-top-section">
        <div class="input-container"><input type="text" class="board-search" placeholder="Find Task">
            <div class="vertical-line"></div><img src="/assets/img/icons/search_task.png">
        </div>
        <button class="blue-btn" (click)="handleShowAddTaskOverlay('todo')">Add Task<img
                src="/assets/img/icons/add_task_white.png"></button>
    </div>
    <div class="board-bottom-section">
        <div class="board-column">
            <div class="board-column-container">
                <div class="board-column-top">
                    <h3>To do</h3>
                    <button class="add-btn" (click)="handleShowAddTaskOverlay('todo')"><img
                            src="/assets/img/icons/add_task_blue.png"></button>
                </div>
                <div class="board-column-bottom" (dragover)="onDragOver($event, 'todo')"
                    (drop)="onDrop($event, 'todo')">
                    @if ("todoTasks") {
                    @for (task of this.databaseService.todoTasks; track task; let index = $index) {
                    @if (task.status == 'todo' ) {
                    <div class="single-task pointer" (dragstart)="onDrag($event, index, task.id , 'todo')"
                        draggable="true" (click)="handleShowTaskDetailOverlay(task)">
                        <div class="task-category">
                            <h4 class="{{task.category}}">{{task.category}}</h4>
                        </div>
                        <div class="task-title">
                            <span>{{task.title}}</span>
                        </div>
                        <div class="task-description">
                            <p>{{task.description}}</p>
                        </div>
                        @if (task.subTasks.length > 0) {
                        <div class="progress-container">
                            <progress [max]="task.subTasks.length" [value]="getCompletedSubtasks(task)"></progress>
                            <span>{{getCompletedSubtasks(task)}} / {{task.subTasks.length}} Subtasks</span>
                        </div>
                        }
                        <div class="single-task-bottom">
                            <div class="task-assignee">
                                @for (assignee of task.assignedTo; track assignee; let index = $index) {
                                <div class="assignee" [style.backgroundColor]="assignee.color">
                                    <span>{{assignee.initials}}</span>
                                </div>
                                }
                            </div>
                            <div class="task-prio">
                                <img [src]="getPriorityIcon(task.priority)" alt="{{task.priority}} priority icon">
                            </div>
                        </div>
                    </div>
                    }
                    }
                    }
                </div>
            </div>
            <div class="board-column-container">
                <div class="board-column-top">
                    <h3>In progress</h3>
                    <button class="add-btn" (click)="handleShowAddTaskOverlay('inProgress')"><img
                            src="/assets/img/icons/add_task_blue.png"></button>
                </div>
                <div class="board-column-bottom" (dragover)="onDragOver($event, 'inProgress')"
                    (drop)="onDrop($event, 'inProgress')">
                    @if ("inProgressTasks") {
                    @for (task of this.databaseService.inProgressTasks; track task; let index = $index) {
                    @if (task.status == 'inProgress' ) {
                    <div class="single-task pointer" (dragstart)="onDrag($event, index, task.id, 'inProgress')"
                        draggable="true" (click)="handleShowTaskDetailOverlay(task)">
                        <div class="task-category">
                            <h4 class="{{task.category}}">{{task.category}}</h4>
                        </div>
                        <div class="task-title">
                            <span>{{task.title}}</span>
                        </div>
                        <div class="task-description">
                            <p>{{task.description}}</p>
                        </div>
                        @if (task.subTasks.length > 0) {
                        <div class="progress-container">
                            <progress [max]="task.subTasks.length" [value]="getCompletedSubtasks(task)"></progress>
                            <span>{{getCompletedSubtasks(task)}} / {{task.subTasks.length}} Subtasks</span>
                        </div>
                        }
                        <div class="single-task-bottom">
                            <div class="task-assignee">
                                @for (assignee of task.assignedTo; track assignee; let index = $index) {
                                <div class="assignee" [style.backgroundColor]="assignee.color">
                                    <span>{{assignee.initials}}</span>
                                </div>
                                }
                            </div>
                            <div class="task-prio">
                                <img [src]="getPriorityIcon(task.priority)" alt="{{task.priority}} priority icon">
                            </div>
                        </div>
                    </div>
                    }
                    }
                    }
                </div>
            </div>
            <div class="board-column-container">
                <div class="board-column-top">
                    <h3>Await feedback</h3>
                    <button class="add-btn" (click)="handleShowAddTaskOverlay('awaitFeedback')"><img
                            src="/assets/img/icons/add_task_blue.png"></button>
                </div>
                <div class="board-column-bottom" (dragover)="onDragOver($event, 'awaitFeedback')"
                    (drop)="onDrop($event, 'awaitFeedback')">
                    @if ("awaitFeedbackTasks") {
                    @for (task of this.databaseService.awaitFeedbackTasks; track task; let index = $index) {
                    @if (task.status == 'awaitFeedback' ) {
                    <div class="single-task pointer" (dragstart)="onDrag($event, index, task.id, 'awaitFeedback')"
                        draggable="true" (click)="handleShowTaskDetailOverlay(task)">
                        <div class="task-category">
                            <h4 class="{{task.category}}">{{task.category}}</h4>
                        </div>
                        <div class="task-title">
                            <span>{{task.title}}</span>
                        </div>
                        <div class="task-description">
                            <p>{{task.description}}</p>
                        </div>
                        @if (task.subTasks.length > 0) {
                        <div class="progress-container">
                            <progress [max]="task.subTasks.length" [value]="getCompletedSubtasks(task)"></progress>
                            <span>{{getCompletedSubtasks(task)}} / {{task.subTasks.length}} Subtasks</span>
                        </div>
                        }
                        <div class="single-task-bottom">
                            <div class="task-assignee">
                                @for (assignee of task.assignedTo; track assignee; let index = $index) {
                                <div class="assignee" [style.backgroundColor]="assignee.color">
                                    <span>{{assignee.initials}}</span>
                                </div>
                                }
                            </div>
                            <div class="task-prio">
                                <img [src]="getPriorityIcon(task.priority)" alt="{{task.priority}} priority icon">
                            </div>
                        </div>
                    </div>
                    }
                    }
                    }
                </div>
            </div>
            <div class="board-column-container">
                <div class="board-column-top">
                    <h3>Done</h3>
                </div>
                <div class="board-column-bottom" (dragover)="onDragOver($event, 'done')"
                    (drop)="onDrop($event, 'done')">
                    @if ("doneTasks") {
                    @for (task of this.databaseService.doneTasks; track task; let index = $index) {
                    @if (task.status == 'done' ) {
                    <div class="single-task pointer" (dragstart)="onDrag($event, index, task.id, 'done')"
                        draggable="true" (click)="handleShowTaskDetailOverlay(task)">
                        <div class="task-category">
                            <h4 class="{{task.category}}">{{task.category}}</h4>
                        </div>
                        <div class="task-title">
                            <span>{{task.title}}</span>
                        </div>
                        <div class="task-description">
                            <p>{{task.description}}</p>
                        </div>
                        @if (task.subTasks.length > 0) {
                        <div class="progress-container">
                            <progress [max]="task.subTasks.length" [value]="getCompletedSubtasks(task)"></progress>
                            <span>{{getCompletedSubtasks(task)}} / {{task.subTasks.length}} Subtasks</span>
                        </div>
                        }
                        <div class="single-task-bottom">
                            <div class="task-assignee">
                                @for (assignee of task.assignedTo; track assignee; let index = $index) {
                                <div class="assignee" [style.backgroundColor]="assignee.color">
                                    <span>{{assignee.initials}}</span>
                                </div>
                                }
                            </div>
                            <div class="task-prio">
                                <img [src]="getPriorityIcon(task.priority)" alt="{{task.priority}} priority icon">
                            </div>
                        </div>
                    </div>
                    }
                    }
                    }
                </div>
            </div>
        </div>
    </div>
</div>
@if (showAddTaskOverlay) {
<div class="floating-add-task-wrapper">
    <div class="add-task-content">
        <div class="add-task-header">
            <h3>Add Task</h3>
            <button class="close-btn" (click)="handleCloseAddTaskOverlay()"><img
                    src="/assets/img/icons/close_btn_blue.png"></button>
        </div>
        <app-add-task [category]="this.selectedStaus"></app-add-task>
    </div>
</div>
}

<!--Task Detail View  Overlay-->
@if (showTaskDetailOverlay) {
@for (task of this.databaseService.tasks$ | async; track task; let index = $index) {
@if (task.id === this.selectedTaskId) {
<div class="floating-task-detail-wrapper">
    <div class="task-detail-content">
        <div class="task-detail-header">
            <div class="task-category">
                <h4 class="{{task.category}}">{{task.category}}</h4>
            </div>
            <div class="close-btn" (click)="handleCloseTaskDetailOverlay()"><img
                    src="/assets/img/icons/close_btn_blue.png"></div>
        </div>
        <div class="task-title">
            <h2>{{task.title}}</h2>
        </div>
        <div class="task-description">
            <p>{{task.description}}</p>
        </div>
        <div class="task-due-date">
            <h3>Due date:</h3>
            <p>{{task.dueDate}}</p>
        </div>
        <div class="task-prirority">
            <h4>Priority:</h4>
            <span>{{task.priority}}</span>
            <img [src]="getPriorityIcon(task.priority)" alt="{{task.priority}} priority icon">
        </div>
        <div class="task-assignee">
            <h4>Assigned To:</h4>
            @for (assignee of task.assignedTo; track assignee; let index = $index) {
            <div class="assigned-container">
                <div class="assigned-contact" [style.backgroundColor]="assignee.color">
                    <span>{{assignee.initials}}</span>
                </div>
                <span>{{assignee.name}}</span>
            </div>

            }
        </div>
        <div class="task-subtasks">
            <h4>Subtasks</h4>
            @for (subtask of task.subTasks; track subtask; let index = $index) {
            <div class="subtask">
                <input type="checkbox" [checked]="subtask.checked" id="subtask1" name="subtask1"
                    (change)="toggleCheckBox(task,subtask)">
                <h5>{{subtask.title}}</h5>
            </div>
            }
        </div>
        <div class="task-actions">
            <button class="contact-action-btn" type="button" (click)="handleDeleteTask(task)"><img
                    src="/assets/img/icons/delete_contact.png">Delete</button>
            <div class="vertical-line"></div>
            <button class="contact-action-btn" type="button" (click)="openTaskEditor(task)"><img
                    src="/assets/img/icons/edit_contact.png">Edit</button>
        </div>
    </div>
</div>
}
}
}

<!--floating edit task overlay -->
@if (showEditTaskOverlay) {
<app-add-task></app-add-task>
}