@if (!showLoginHeader) {
<div class="header">
    <img [routerLink]="['/login']" src="assets/img/logos/join_logo_big_white.png" alt="logo" class="logo pointer">
</div>
} @else {
<div class="header">
    <img [routerLink]="['/login']" src="assets/img/logos/join_logo_big_blue.png" alt="logo" class="logo pointer">
    @if (!this.communicationService.isMobileViewActive) {
    <div class="header-right">
        <p>Not a Join user?</p>
        <button class="blue-btn" [routerLink]="['/signup']">Sign Up</button>
    </div>
    }
</div>

}