@import "../../../../styles.scss";

.header {
    width: 100svw;
    max-width: 1440px;
    padding: 40px;
    box-sizing: border-box;
    @include dFlex(row, space-between, center);

    >img {
        width: 100px;
        height: 122px;
    }

    >.header-right {
        @include dFlex(row, space-between, center);
        margin-top: 80px;
        margin-right: 77px;

        >p {
            @include OpenSans(400, 23px, 27.6px, $black);
            margin-right: 20px;
        }

        >button {
            width: 112px;
            height: 48px;
        }
    }
}

@media screen and (max-width: 950px) {
    .header {
        padding: 20px !important;

        img {
            width: 74px !important;
            height: 88px !important;
        }
    }
}

@media screen and (max-width: 650px) {

    .header {
        margin-left: 16px !important;
        margin-top: 16px !important;
        padding: 10px !important;

        .header-right {
            display: none !important;
        }

        img {
            width: 64px !important;
            height: 78px !important;
        }
    }
}