<div class="header-wrapper">
    <div class="header-left">
        <img src="assets/img/logos/join_logo_white.png" alt="join-logo" class="join-logo">
    </div>
    <div class="header-right">
        <span>Kanban Project Management Tool</span>
        @if (isLoggedIn) {
        <img src="assets/img/icons/help_white.png" [routerLink]="['/instructions']" alt="join-logo" class="join-logo">
        <div class="user-profile" (click)="toggleUserMenu()">
            <div class="circle-outside">
                <div class="circle-inside">
                    <span>{{this.authService.currentUser?.initials}}</span>
                </div>
            </div>
        </div>
        }
        <div class="user-menu" [ngStyle]="{'display': isUserMenuVisible ? 'flex' : 'none'}">
            <div class="menu-item" [routerLink]="['/imprint']">
                <span>Legal Notice</span>
            </div>
            <div class="menu-item" [routerLink]="['/privacy-policy']">
                <span>Privacy Policy</span>
            </div>
            <div class="menu-item" (click)="handleLogout()">
                <span>Log out</span>
            </div>
        </div>
    </div>