<div class="contacts-wrapper">
    <div class="contacts-left">
        <button class="blue-btn">Add new contact<img src="/assets/img/icons/add_contact_white.png"></button>

        <div class="contacts-list">
            @if ("contacts$ | async as contacts") {
            @for (contact of contacts$ | async; track contact; let index = $index) {
            <div class="contact" (click)="handleShowContactDetails(contact.id)">
                <div class="contact-left">
                    BT
                </div>
                <div class="contact-right">
                    <div class="contact-name">{{contact.name}}</div>
                    <div class="contact-email">{{contact.email}}</div>
                </div>
            </div>
            }
            }
        </div>
    </div>
    <div class="contacts-right">

        @if (contactDetail) {
        <div class="contact-detail-view">
            <div class="detail-view-left">BT</div>
            <div class="detail-view-right">

                <div class="detail-view-right-top">
                    <h2>{{contactDetail.name}}</h2>
                    <div class="contact-actions">
                        <button class="contact-action-btn"><img src="/assets/img/icons/edit_contact.png">Edit</button>
                        <button class="contact-action-btn"><img
                                src="/assets/img/icons/delete_contact.png">Delete</button>
                    </div>
                </div>
                <div class="detail-view-right-bottom">
                    <h3>Contact Information</h3>
                    <h4>Email</h4>
                    <p>{{ contactDetail.email }}</p>
                    <h4>Phone</h4>
                    <span>{{ contactDetail.phone }}</span>
                </div>
            </div>
        </div>
        }

    </div>
</div>
<!-- add contact overlay -->
<div class="add-contact-overlay">
    <div class="add-contact-overlay-content">
        <div class="add-contact-overlay-top">
            <img src="/assets/img/logos/join_logo_white.png">
            <h2>Add Contact</h2>
            <h3>Tasks are better with a team!</h3>
        </div>
        <div class="add-contact-overlay-bottom">
            <form [formGroup]="addContactForm" (ngSubmit)="onSubmit()">
                <div class="form-input">
                    <div class="input-container">
                        <input type="text" placeholder="Name" formControlName="name"><img
                            src="/assets/img/icons/login_name.png">
                    </div>
                    <div class="input-container">
                        <input type="email" placeholder="Email" formControlName="email"><img
                            src="/assets/img/icons/login_mail.png">
                    </div>
                    <div class="input-container">
                        <input type="phone" placeholder="Phone" formControlName="phone"><img
                            src="/assets/img/icons/contact_phone.png">
                    </div>
                </div>
                <div class="submit-btn-container">
                    <button class="white-btn" type="button" (click)="onClear()">Cancel<img
                            src="/assets/img/icons/cancel_btn.png"></button>
                    <button class="blue-btn" type="submit">Create Contact<img
                            src="/assets/img/icons/create_btn.png"></button>
                </div>
            </form>

        </div>
    </div>

</div>