@import "../../../styles.scss";


.summary-wrapper {
    @include dFlex(column, center, center);
    overflow-x: hidden;
    overflow-y: scroll;
}

h1 {
    @include OpenSans(400, 48px, 57.6px, $board-text);
    text-align: center;
    padding-bottom: 72px;

    span {
        @include OpenSans(700, 64px, 76.8px, $main-blue-dark);
    }
}

.tasks-overview {
    width: 912px;
    @include dFlex(column, center);
}

.task-overview-top {
    width: 912px;
    height: 219px;
    @include dFlex(row, space-between, center);
    padding-bottom: 24px;

    >.task-category {
        width: 208px;
        height: 191px;
        transform: 0.1s all ease;

        &:hover {
            transform: scale(1.05);
            transition: transform 0.2s ease;
            border-radius: 0px 30px 30px 30px;
            background-color: darken($color: $main-blue-dark, $amount: 0.2);
            box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.25);



            >.task-category-top {
                span {
                    color: $white;
                }
            }

            >.task-category-bottom {
                span {
                    color: $white;
                }
            }
        }

        .task-category-top {
            img {
                width: 76px;
                height: 76px;
                border-radius: 50%;
                border: 3px solid $white;
            }
        }

        .task-category-bottom {
            color: $white;
        }
    }

    span {
        color: $main-blue-dark;
    }
}

.urgent-tasks {
    width: 672px;
    height: 191px;
    border-radius: 30px;
    padding: 28px 48px;
    gap: 35px;
    background-color: $main-blue-dark;
    @include dFlex(row, space-between, center);
    box-shadow: 0px 0px 4px 0px #00000029;
    transform: 0.175s all ease;
    transition: transform 0.175s ease;

    &:hover {
        transform: scale(1.05);
        transition: transform 0.175s ease;
        border-radius: 0px 30px 30px 30px;
        background-color: $white;
        box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.25);

        >.task-category .task-category-top span,
        >.task-category .task-category-bottom span,
        >.task-deadline p,
        >.task-deadline span {
            color: $main-blue-dark !important;
        }

        .vertical-line {
            background-color: $main-blue-dark;
        }

    }

    >.task-category {
        box-shadow: unset;
        width: 208px;
        height: 191px;
        transition: all 0.175s ease;

        &:hover {
            transform: none;
            transition: none;
            border-radius: 20px;
            background-color: unset;
        }

        .task-category-top {
            span {
                color: $white;
            }

            img {
                width: 76px;
                height: 76px;
                border-radius: 50%;
                border: 3px solid $white;
            }
        }

        .task-category-bottom span {
            color: $white;
        }
    }

    .vertical-line {
        width: 3px;
        height: 145px;
        background-color: $white;
    }

    >.task-deadline {
        @include dFlex(column, flex-start, flex-start);
        gap: 13px;

        p {
            @include OpenSans(700, 33px, 39.6px, $white);
        }

        span {
            @include OpenSans(400, 23px, 27.6px, $white);
        }
    }

}


.task-overview-bottom {
    width: 912px;
    height: 219px;
    @include dFlex(row, space-between, center);

    >.task-category:first-of-type {
        background-color: $main-blue-light;

        >.task-category-top {
            span {
                color: $black !important;
            }
        }

        &:hover {
            background-color: $white;

            >.task-category-top,
            >.task-category-bottom {
                span {
                    color: $main-blue-dark !important;
                }
            }
        }
    }
}

.task-category {
    width: 204px;
    height: 219px;
    padding: 0px 40px;
    gap: 9px;
    @include dFlex(column, center, center);
    box-shadow: 0px 0px 4px 0px #00000029;
    border-radius: 20px;

    &:hover {
        transform: scale(1.05);
        transition: transform 0.2s ease;
        border-radius: 0px 30px 30px 30px;
        background-color: darken($color: $main-blue-dark, $amount: 0.2);
        box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.25);

        >.task-category-top,
        >.task-category-bottom {
            span {
                color: $white;
            }
        }
    }


    .task-category-top {
        width: 124px;
        height: 76px;
        gap: 8px;
        @include dFlex(row, flex-start, center);

        span {
            @include OpenSans(700, 48px, 57.6px, $black);
        }
    }

    .task-category-bottom {
        width: 124px;
        height: 28px;
        @include OpenSans(400, 23px, 27.6px, $main-blue-dark);
        white-space: wrap;
        text-align: center;
    }
}




@media only screen and (max-width: 1200px) {
    .summary-wrapper {
        justify-content: flex-start !important;
    }

    .tasks-overview {
        width: 100%;
        gap: 16px;
    }

    .task-overview-top {
        width: 100% !important;
        padding-bottom: unset !important;
    }

    .task-overview-middle {
        width: 100% !important;
    }

    .task-overview-bottom {
        width: 100% !important;
        flex-wrap: wrap !important;
        justify-content: center !important;
        gap: 16px !important;

        .task-category {
            width: calc(50% - 16px) !important;
            margin-bottom: 16px !important;
        }

        >.task-category:first-of-type {
            background-color: unset !important;
        }
    }

    .summary-wrapper {
        h1 {
            display: none;
        }
    }

    .urgent-tasks {
        width: 100% !important;
    }

    .task-overview-middle .task-category {
        width: 100% !important;
        @include dFlex(row, center, center);
        background-color: $main-blue-light;
        gap: 40px;
    }

}

@media only screen and (max-width: 950px) {}

@media only screen and (max-width: 650px) {

    .urgent-tasks {
        justify-content: center !important;
        gap: unset !important;

        .task-category {
            padding: 0px 16px !important;

            .task-category-top {
                span {
                    @include OpenSans(700, 40px !important, 48px !important, $white);
                }
            }

            .task-category-bottom {
                span {
                    @include OpenSans(400, 19px !important, 22.8px !important, $white);
                }
            }
        }
    }

    .task-deadline {
        p {
            @include OpenSans(700, 23px !important, 27.6px !important, $white);
        }

        span {
            @include OpenSans(400, 16px !important, 19.2px !important, $white);
        }
    }

    .task-category-top {
        gap: 0px !important;

        span {
            @include OpenSans(700, 40px, 48px, $white);
        }
    }

    .task-overview-middle .task-category {
        .task-category-top {
            span {
                @include OpenSans(700, 40px !important, 48px !important, $black);
            }
        }

        .task-category-bottom {
            span {
                @include OpenSans(400, 19px !important, 22.8px !important, $main-blue-dark);
            }
        }
    }

    .task-overview-bottom .task-category {
        .task-category-top {
            span {
                @include OpenSans(700, 40px !important, 48px !important, $black);
            }
        }

        .task-category-bottom {
            span {
                @include OpenSans(400, 19px !important, 22.8px !important, $main-blue-dark);
            }
        }
    }
}

@media only screen and (max-width: 450px) {}