<section>
    <app-header></app-header>
</section>

<section class="summary-wrapper content-wrapper">

    <h1>{{ greetingMessage }}<span>{{contact?.name}}</span></h1>

    <div class="tasks-overview">
        <div class="task-overview-top">
            <div class="urgent-tasks pointer" [routerLink]="['/board']">
                <div class="task-category">
                    <div class="task-category-top">
                        <img src="assets/img/icons/urgent_tasks_summary_icon.svg" alt="icon">
                        <span>{{this.databaseService.urgentTasks}}</span>
                    </div>
                    <div class="task-category-bottom">
                        <span>Tasks Urgent</span>
                    </div>
                </div>
                <div class="vertical-line"></div>
                <div class="task-deadline">
                    <p>{{this.databaseService.nextDueDate}}</p>
                    <span>Upcomming Dealine</span>
                </div>
            </div>
            @if (!this.communicationService.isSmallScreenActive) {
            <div class="task-category pointer" [routerLink]="['/board']">
                <div class="task-category-top">
                    <img src="assets/img/icons/board_summary_icon.svg" alt="icon">
                    <span>{{this.databaseService.tasksCount}}</span>
                </div>
                <div class="task-category-bottom">
                    <span>Task in Board</span>
                </div>
            </div>
            }
        </div>
        @if (this.communicationService.isSmallScreenActive) {
        <div class="task-overview-middle">
            <div class="task-category pointer" [routerLink]="['/board']">
                <div class="task-category-top">
                    <img src="assets/img/icons/todo_tasks_summary_icon.svg" alt="icon">
                    <span>{{this.databaseService.todoTasks.length}}</span>
                </div>
                <div class="task-category-bottom">
                    <span>Tasks To-do</span>
                </div>
            </div>
        </div>
        }
        <div class="task-overview-bottom">
            @if (!this.communicationService.isSmallScreenActive) {
            <div class="task-category pointer" [routerLink]="['/board']">
                <div class="task-category-top">
                    <img src="assets/img/icons/todo_tasks_summary_icon.svg" alt="icon">
                    <span>{{this.databaseService.todoTasks.length}}</span>
                </div>
                <div class="task-category-bottom">
                    <span>Tasks To-do</span>
                </div>
            </div>
            } @else {
            <div class="task-category pointer" [routerLink]="['/board']">
                <div class="task-category-top">
                    <img src="assets/img/icons/todo_tasks_summary_icon.svg" alt="icon">
                    <span>{{this.databaseService.tasksCount}}</span>
                </div>
                <div class="task-category-bottom">
                    <span>Tasks on Board</span>
                </div>
            </div>
            }
            <div class="task-category pointer" [routerLink]="['/board']">
                <div class="task-category-top">
                    <img src="assets/img/icons/in_progress_tasks_summary_icon.svg" alt="icon">
                    <span>{{this.databaseService.inProgressTasks.length}}</span>
                </div>
                <div class="task-category-bottom">
                    <span>Task in Progress</span>
                </div>
            </div>
            <div class="task-category pointer" [routerLink]="['/board']">
                <div class="task-category-top">
                    <img src="assets/img/icons/awaiting_feedback_tasks_summary_icon.svg" alt="icon">
                    <span>{{this.databaseService.awaitFeedbackTasks.length}}</span>
                </div>
                <div class="task-category-bottom">
                    <span>Awaiting Feedback</span>
                </div>
            </div>
            <div class="task-category pointer" [routerLink]="['/board']">
                <div class="task-category-top">
                    <img src="assets/img/icons/done_tasks_summary_icon.svg" alt="icon">
                    <span>{{this.databaseService.doneTasks.length}}</span>
                </div>
                <div class="task-category-bottom">
                    <span>Tasks Done</span>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <app-sidenav></app-sidenav>
</section>