<div class="reset-password-wrapper">
    <app-header></app-header>
    <div class="reset-form">
        <h1>Reset password</h1>
        <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
            <div class="form-input-container input-wrapper">
                <input type="password" formControlName="password" placeholder="Password"><img
                    src="assets/img/icons/login_password.png" alt="logo" class="logo">
                @if (resetPasswordForm.get('password')?.invalid && resetPasswordForm.get('password')?.touched) {
                <div class="error">
                    <span>Enter a valid password, min 6 characters</span>
                </div>
                }
            </div>
            <div class="form-input-container input-wrapper">
                <input type="password" formControlName="confirmPassword" placeholder="Confirm Password"><img
                    src="assets/img/icons/login_password.png" alt="logo" class="logo">
                @if (resetPasswordForm.hasError('passwordsMismatch') && resetPasswordForm.get('password')?.touched &&
                resetPasswordForm.get('confirmPassword')?.touched) {
                <div class="error">
                    <span>Passwords do not match</span>
                </div>
                }
            </div>
            <div class="btn-container">
                <button type="submit" class="blue-btn" [disabled]="resetPasswordForm.invalid"> Reset Password</button>
            </div>
        </form>
    </div>
    <app-footer></app-footer>
</div>