<div class="reset-password-wrapper">
    <header>
        <img src="assets/img/logos/join_logo_big_blue.png" alt="logo" class="logo">
        @if (!this.communicationService.isMobileViewActive) {
        <div class="header-right">
            <p>Not a Join user?</p>
            <button class="blue-btn" [routerLink]="['/signup']">Sign Up</button>
        </div>
        }
    </header>
    <div class="login-form">
        <h1>Reset password</h1>
        <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
            <div class="form-input-container input-wrapper">
                <input type="password" formControlName="password" placeholder="Password"><img
                    src="assets/img/icons/login_password.png" alt="logo" class="logo">
                @if (resetPasswordForm.get('password')?.invalid && resetPasswordForm.get('password')?.touched) {
                <div class="error">
                    <span>Enter a valid password, min 6 characters</span>
                </div>
                }
            </div>
            <div class="form-input-container input-wrapper">
                <input type="password" formControlName="confirmPassword" placeholder="Confirm Password"><img
                    src="assets/img/icons/login_password.png" alt="logo" class="logo">
                @if (resetPasswordForm.hasError('passwordsMismatch') && resetPasswordForm.get('password')?.touched &&
                resetPasswordForm.get('confirmPassword')?.touched) {
                <div class="error">
                    <span>Passwords do not match</span>
                </div>
                }
            </div>
            <div class="btn-container">
                <button type="submit" class="blue-btn" [disabled]="resetPasswordForm.invalid">Send mail</button>
            </div>
        </form>
    </div>
    @if (this.communicationService.isMobileViewActive) {
    <div class="mobile-signup">
        <p>Not a Join user?</p>
        <button class="blue-btn" [routerLink]="['/signup']">Sign Up</button>
    </div>
    }
    <footer>
        <p routerLink="/privacy-policy">Privacy Policy</p>
        <p routerLink="/imprint">Legal Notice</p>
    </footer>