<div class="reset-password-wrapper">
    <app-header></app-header>
    <div class="reset-form">
        @if (this.setNewPassword) {
        <h1>Reset Password</h1>
        <form [formGroup]="setNewPasswordForm" (ngSubmit)="onSubmit()">
            <div class="form-input-container input-wrapper">
                <input type="password" formControlName="password" placeholder="Password"><img
                    src="assets/img/icons/login_password.svg" alt="logo" class="logo">
                @if (setNewPasswordForm.get('password')?.invalid && setNewPasswordForm.get('password')?.touched) {
                <div class="error">
                    @if (setNewPasswordForm.get('password')?.hasError('required')) {
                    <span>The password is required.</span>
                    }
                    @if (setNewPasswordForm.get('password')?.hasError('minLength')) {
                    <span>The password must be at least 8 characters long.</span>
                    }
                    @if (setNewPasswordForm.get('password')?.hasError('numericOnly')) {
                    <span>The password must not be entirely numeric.</span>
                    }
                    @if (setNewPasswordForm.get('password')?.hasError('tooCommon')) {
                    <span>The password is used too frequently. Please choose a different one.</span>
                    }
                    @if (setNewPasswordForm.get('password')?.hasError('weak')) {
                    <span>The password must contain at least one letter and one number.</span>
                    }
                </div>
                }
            </div>
            <div class="form-input-container input-wrapper">
                <input type="password" formControlName="confirmPassword" placeholder="Confirm Password"><img
                    src="assets/img/icons/login_password.svg" alt="logo" class="logo">
                @if (setNewPasswordForm.hasError('passwordsMismatch') && setNewPasswordForm.get('password')?.touched &&
                setNewPasswordForm.get('confirmPassword')?.touched) {
                <div class="error">
                    <span>Passwords do not match</span>
                </div>
                }
            </div>
            <div class="btn-container">
                <button type="submit" class="blue-btn" [disabled]="setNewPasswordForm.invalid">Reset Password</button>
            </div>
        </form>
        } @else {
        <div class="signup-success-container">
            <h1>Password successfully reset</h1>
            <p>Your password has been successfully reset. You can now log in with your new password.</p>
            <img src="../../../assets/img/icons/email.svg" alt="success">
        </div>
        }
    </div>
    <app-footer></app-footer>
</div>