@import "../../../styles.scss";

.signup-wrapper {
    width: 100svw;
    height: 100svh;
    background-color: $main-blue-dark;
    @include dFlex(column, space-between, center);
}

.signup-form {
    width: 652px;
    height: 664px;
    border-radius: 30px;
    padding: 48px 115px;
    gap: 39px;
    box-shadow: 0px 0px 10px 3px #00000014;
    background-color: $white;
    @include dFlex(column, center, center);
    position: relative;

    >h1 {
        @include OpenSans(700, 48px, 57.6px, $black);
        border-bottom: 3px solid $main-blue-dark;
    }

    form {
        width: 100%;
        @include dFlex(column, flex-start, flex-start);
        gap: 24px;

        >.input-wrapper {
            width: 100%;
            @include dFlex(row, center, center);
            border-bottom: 1px solid $border-color;
        }

        input {
            width: 422px;
            height: 48px;
            border-radius: 0px 0px 1px 0px;
            padding: 12px 21px;
            box-sizing: border-box;
            border: none;
            cursor: pointer;
        }

        input::placeholder {
            @include OpenSans(400, 19px, 22.8px, $border-color);
        }

        >.checkbox-wrapper {
            @include dFlex(row, flex-start, center);

            input {
                width: 24px;
                height: 24px;
                border: unset !important;
                outline: 2px solid $main-blue-dark;
                border-radius: 3px;
                cursor: pointer;
            }

            input[type="checkbox"]+label {
                @include OpenSans(400, 19px, 22.8px, $black);
                margin-left: 10px;
            }
        }

        >.btn-container {
            width: 100%;
            gap: 35px;
            @include dFlex(row, center, center);

            >.blue-btn {
                width: 135px;
                height: 48px;
                padding: 10px 35px;
                white-space: nowrap;
            }
        }

    }
}

.form-top-section {
    @include dFlex(row, center, center);
    width: 100%;
    position: relative;

    .close-btn {
        position: absolute;
        left: 16px;
        top: 8px;
    }
}


@media screen and (max-width: 1200px) {}

@media screen and (max-width: 950px) {}

@media screen and (max-width: 650px) {

    .close-btn {
        left: 4px !important;
        top: 8px !important;
    }

    .signup-wrapper {
        gap: 16px !important;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    header {
        margin-left: 16px !important;
        margin-top: 16px !important;
        padding: 8px 0 !important;
    }

    .btn-container {
        width: 100%;
        flex-direction: column !important;
        gap: 16px !important;
        padding: 16px 16px !important;

        .white-btn {
            width: 180px !important;
            height: 48px !important;
            padding: 4px 4px !important;
            border-radius: 8px !important;
        }
    }



    .header-right {
        display: none !important;
    }

    header img {
        width: 64px !important;
        height: 78px !important;
        margin-top: 37px !important;
        margin-left: 38px !important;
    }

    .signup-form {
        width: 80% !important;
        height: 800px !important;
        padding: 0 !important;

        h1 {
            @include OpenSans(700 !important, 47px !important, 56.4px !important, $black);
        }

        form {
            width: 80% !important;

            input {
                width: 100% !important;
            }
        }
    }

    .checkbox-wrapper label {
        @include Inter(400 !important, 16px !important, 19.2px !important, $black);
        white-space: nowrap;
    }

}