@import "../../../styles.scss";

.login-wrapper {
    width: 100svw;
    height: 100svh;

    background-color: $white;

    @include dFlex(column, space-between, center);
}

header {
    width: 100%;
    height: 100px;
    @include dFlex(row, space-between, center);

    >img {
        width: 100px;
        height: 122px;
        margin-top: 80px;
        margin-left: 77px;
    }

    >.header-right {
        @include dFlex(row, space-between, center);
        margin-top: 80px;
        margin-right: 77px;

        >p {
            @include OpenSans(400, 23px, 27.6px, $black);
            margin-right: 20px;
        }

        >button {
            width: 112px;
            height: 48px;
        }
    }
}

.login-form {
    width: 652px;
    height: 491px;
    border-radius: 30px;
    padding: 48px 115px;
    gap: 39px;
    box-shadow: 0px 0px 10px 3px #00000014;
    @include dFlex(column, center, center);

    >h1 {
        @include OpenSans(700, 48px, 57.6px, $black);
        border-bottom: 3px solid $main-blue-dark;

    }

    form {
        width: 100%;
        @include dFlex(column, flex-start, flex-start);
        gap: 24px;

        >.input-wrapper {
            width: 100%;
            @include dFlex(row, center, center);
            border-bottom: 1px solid $border-color;
        }

        input {
            width: 422px;
            height: 48px;
            border-radius: 0px 0px 1px 0px;
            padding: 12px 21px;
            box-sizing: border-box;
            border: none;
            cursor: pointer;
        }

        input::placeholder {
            @include OpenSans(400, 19px, 22.8px, $border-color);
        }

        >.checkbox-wrapper {
            @include dFlex(row, flex-start, center);

            input {
                width: 24px;
                height: 24px;
                border: unset !important;
                outline: 2px solid $main-blue-dark;
                border-radius: 3px;
                cursor: pointer;
            }

            input[type="checkbox"]+label {
                @include Inter(400, 19px, 22.8px, $black);
                margin-left: 10px;
            }
        }

        >.btn-container {
            width: 100%;
            gap: 35px;
            @include dFlex(row, center, center);

            >.blue-btn {
                width: 135px;
                height: 48px;
                padding: 10px 35px;
            }

            >.white-btn {
                width: 197px;
                height: 48px;
                padding: 10px 35px;
            }
        }
    }


}

footer {
    width: 240px;
    height: 35px;
    gap: 32px;
    padding: 64px 0px;
    @include dFlex(row, center, center);

    >p {
        @include OpenSans(400, 16px, 19.2px, $menu-color);
        white-space: nowrap;
        cursor: pointer;
    }

}

@media screen and (max-width: 950px) {
    .login-wrapper {}
}

@media screen and (max-width: 650px) {
    .login-wrapper {
        gap: 16px !important;
    }

    header {
        margin-left: 16px !important;
        margin-top: 16px !important;
        padding: 8px 0 !important;
    }

    .btn-container {
        width: 100%;
        flex-direction: column !important;
        gap: 16px !important;
        padding: 16px 16px !important;

        .blue-btn,
        .white-btn {
            width: 180px !important;
            height: 48px !important;
            padding: 4px 4px !important;
            border-radius: 8px !important;
        }
    }

    .mobile-signup {
        @include dFlex(row, center, center);
        margin-top: 30px;
        gap: 10px;

        p {
            @include OpenSans(400 !important, 19px !important, 22.8px !important, $black);
        }

        button {
            width: 98px !important;
            height: 43px !important;
            border-radius: 8px !important;
            padding: 10px 16px !important;
            gap: 10px !important;
            white-space: nowrap !important;
            @include OpenSans(400 !important, 19px !important, 22.8px !important, $white);

        }
    }

    .header-right {
        display: none !important;
    }

    header img {
        width: 64px !important;
        height: 78px !important;
        margin-top: 37px !important;
        margin-left: 38px !important;
    }

    .login-form {
        width: 80% !important;
        height: 480px !important;
        padding: 0 !important;

        h1 {
            @include OpenSans(700 !important, 47px !important, 56.4px !important, $black);
        }

        form {
            width: 80% !important;

            input {
                width: 100% !important;
            }
        }
    }

    .checkbox-wrapper label {
        @include Inter(400 !important, 16px !important, 19.2px !important, $black);
        white-space: nowrap;
    }

}