<div class="login-wrapper">
    <header>
        <img src="assets/img/logos/join_logo_big_blue.png" alt="logo" class="logo">

        <div class="header-left">
            <p>Not a Join user?</p>
            <button class="blue-btn">Sign Up</button>
        </div>
    </header>

    <div class="login-form">
        <h1>Log in</h1>


        <form>
            <div class="input-wrapper">
                <input type="text" placeholder="Email"><img src="assets/img/icons/login_mail.png" alt="logo"
                    class="logo">
            </div>

            <div class="input-wrapper">
                <input type="password" placeholder="Password"><img src="assets/img/icons/login_password.png" alt="logo"
                    class="logo">
            </div>
            <div class="checkbox-wrapper">
                <input type="checkbox" id="remember" name="remember">
                <label class="checkbox-label" for="remember">Remember me</label>
            </div>
        </form>
        <div class="btn-container">
            <button type="submit" class="blue-btn">Log In</button>
            <button type="button" class="white-btn">Guest log in</button>
        </div>


    </div>
    <footer>
        <p>Privacy Policy</p>
        <p>Legal Notice</p>

    </footer>