@import "../../../styles.scss";

.login-wrapper {
    width: 100svw;
    height: 100svh;
    background-color: $white;
    position: relative;
    @include dFlex(column, space-between, center);
}

.animation-container {
    width: 100svw;
    max-width: 1440px;
    height: 100svh;
    position: absolute;
    z-index: 55;
}


.animated-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 122px !important;
    transition: transform 1s ease-in-out, top 1s ease-in-out, left 1s ease-in-out;
    z-index: 55;
}

.animated-logo svg {
    width: 100px !important;
    height: 122px !important;
    margin-top: 42px;
    margin-left: 42px;
}

header {
    width: 100%;
    height: 100px;
    @include dFlex(row, space-between, center);

    >img {
        width: 100px;
        height: 122px;
        margin-top: 80px;
        margin-left: 77px;
    }

    >.header-right {
        @include dFlex(row, space-between, center);
        margin-top: 80px;
        margin-right: 77px;

        >p {
            @include OpenSans(400, 23px, 27.6px, $black);
            margin-right: 20px;
        }

        >button {
            width: 112px;
            height: 48px;
        }
    }
}

.login-form {
    width: 652px;
    height: 491px;
    border-radius: 30px;
    padding: 48px 115px;
    gap: 39px;
    box-shadow: 0px 0px 10px 3px #00000014;
    @include dFlex(column, center, center);

    >h1 {
        @include OpenSans(700, 48px, 57.6px, $black);
        border-bottom: 3px solid $main-blue-dark;

    }

    form {
        width: 100%;
        @include dFlex(column, flex-start, flex-start);
        gap: 24px;

        >.input-wrapper {
            width: 100%;
            @include dFlex(row, center, center);
            border-bottom: 1px solid $border-color;
        }

        input {
            width: 422px;
            height: 48px;
            border-radius: 0px 0px 1px 0px;
            padding: 12px 21px;
            box-sizing: border-box;
            border: none;
            cursor: pointer;
        }

        input::placeholder {
            @include OpenSans(400, 19px, 22.8px, $border-color);
        }

        .checkbox-wrapper {
            @include dFlex(row, flex-start, center);
            width: 100% !important;

            input[type="checkbox"] {
                appearance: none;
                width: 24px !important;
                height: 24px;
                border: 2px solid $main-blue-dark;
                border-radius: 3px;
                cursor: pointer;
                position: relative;
                background-color: $white;
                padding: unset !important;
                transition: transform 0.2s ease, box-shadow 0.2s ease;

                &:hover {
                    transform: scale(1.05);
                    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
                }

                &:checked {
                    background-color: $main-blue-dark;

                    &::after {
                        content: '';
                        position: absolute;
                        top: 2px;
                        left: 6px;
                        width: 6px;
                        height: 12px;
                        border: solid $white;
                        border-width: 0 2px 2px 0;
                        transform: rotate(45deg);
                    }
                }
            }

            input[type="checkbox"]+label {
                @include Inter(400, 19px, 22.8px, $black);
                margin-left: 10px;
                cursor: pointer;
            }
        }

        >.btn-container {
            width: 100%;
            gap: 35px;
            @include dFlex(row, center, center);

            >.blue-btn {
                width: 135px;
                height: 48px;
                padding: 10px 35px;
            }

            >.white-btn {
                width: 197px;
                height: 48px;
                padding: 10px 35px;
            }
        }

        .forgot-password {
            width: 100%;
            @include dFlex(row, center, center);

            a {
                @include OpenSans(400, 19px, 22.8px, $black);
                text-align: center;
                text-decoration: none;
                transition: transform 0.2s ease, box-shadow 0.2s ease;

                &:hover {
                    color: $main-blue-dark;
                    transform: scale(1.05);
                    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
                }
            }

        }
    }
}

.mobile-signup {
    @include dFlex(row, center, center);
    margin-top: 30px;
    gap: 10px;

    p {
        @include OpenSans(400 !important, 19px !important, 22.8px !important, $black);
        text-align: center;
    }

    button {
        width: 98px !important;
        height: 43px !important;
        border-radius: 8px !important;
        padding: 10px 16px !important;
        gap: 10px !important;
        white-space: nowrap !important;
        @include OpenSans(400 !important, 19px !important, 22.8px !important, $white);

    }
}

@media screen and (max-width: 950px) {

    .animated-logo svg {
        width: 74px;
        height: 88px !important;
        margin-top: -10px !important;
        margin-left: -10px !important;
    }
}

@media screen and (max-width: 650px) {
    .login-wrapper {
        gap: 16px !important;
    }

    .animated-logo svg {
        margin-top: 20px !important;
        margin-left: 0px !important;
    }

    header {
        margin-left: 16px !important;
        margin-top: 16px !important;
        padding: 8px 0 !important;
    }

    .btn-container {
        width: 100%;
        flex-direction: column !important;
        gap: 16px !important;
        padding: 16px 16px !important;

        .blue-btn,
        .white-btn {
            width: 180px !important;
            height: 48px !important;
            padding: 4px 4px !important;
            border-radius: 8px !important;
        }
    }

    header img {
        width: 64px !important;
        height: 78px !important;
        margin-top: 37px !important;
        margin-left: 38px !important;
    }

    .login-form {
        width: 80% !important;
        height: 480px !important;
        padding: 0 !important;
        gap: 8px !important;

        h1 {
            @include OpenSans(700 !important, 47px !important, 56.4px !important, $black);
        }

        form {
            width: 80% !important;

            input {
                width: 100% !important;
            }
        }

        .checkbox-wrapper {
            @include dFlex(row, flex-start, center);

            input[type="checkbox"] {
                appearance: none;
                width: 24px;
                height: 24px;
                border: 2px solid $main-blue-dark;
                border-radius: 3px;
                cursor: pointer;
                position: relative;
                background-color: $white;
                padding: unset !important;

                &:checked {
                    background-color: $main-blue-dark;

                    &::after {
                        content: '';
                        position: absolute;
                        top: 2px;
                        left: 6px;
                        width: 6px;
                        height: 12px;
                        border: solid $white;
                        border-width: 0 2px 2px 0;
                        transform: rotate(45deg);
                    }
                }
            }

            input[type="checkbox"]+label {
                @include Inter(400 !important, 16px !important, 19.2px !important, $black);
                white-space: nowrap;
                cursor: pointer;
            }
        }
    }

}