<div class="add-task-wrapper">
    <div class="add-task-left">

        <form [formGroup]="addTaskForm" (ngSubmit)="onSubmit()">
            <input type="text" placeholder="Enter a title" formControlName="taskTitle">
            <span>Description(optional)</span>
            <textarea placeholder="Enter a description" formControlName="taskDescription"></textarea>
            <span>Due date</span>
            <input type="date" formControlName="taskDueDate">
            <span>Priority</span>
            <div class="btn-container">
                <div class="prio-btn pointer urgent" [ngClass]="{ 'urgent': selectedPriority === 'Urgent' }"
                    (click)="setPriority('Urgent')">
                    Urgent
                    <img src="/assets/img/icons/task_prio_urgent.png">
                </div>

                <div class="prio-btn pointer medium" [ngClass]="{ 'medium': selectedPriority === 'Medium' }"
                    (click)="setPriority('Medium')">
                    Medium
                    <img src="/assets/img/icons/task_prio_medium.png">
                </div>

                <div class="prio-btn pointer low" [ngClass]="{ 'low': selectedPriority === 'Low' }"
                    (click)="setPriority('Low')">
                    Low
                    <img src="/assets/img/icons/task_prio_low.png">
                </div>
            </div>
            <span>Assigned to(optional)</span>
            <div class="drop-down">
                <div class="input-container">
                    @for (contact of contacts$ | async; track index; let index = $index) {
                    <label>{{ contact.name }}</label>
                    <input type="checkbox" [value]="contact.id" (change)="onCheckboxChange($event)">
                    }
                </div>
            </div>
            @if ("addTaskForm.get('taskAssignedTo')?.value?.length > 0") {
            <div class="selected-contacts">
                <div class="selected-contact">
                    @for (contactId of addTaskForm.get('taskAssignedTo')?.value; track contactId; let index = $index) {
                    <span>{{contactId }}</span>
                    }
                </div>
            </div>
            }
            <span>Category</span>
            <div class="input-container">
                <select formControlName="category">
                    @for (cat of categories; track index; let index = $index) {
                    <option [value]="cat.value" [ngClass]="cat.class">
                        {{ cat.label }}
                    </option>
                    }
                </select>
            </div>
            <span>Subtasks(optional)</span>
            <div class="input-container">
                <input type="text" placeholder="Add new subtask" formControlName="subtask"><img
                    src="/assets/img/icons/add_blue.png">
            </div>
            <div class="add-task-right">
                <div class="submit-btn-container">
                    <button class="white-btn" type="button" (click)="onClear()">Clear<img
                            src="/assets/img/icons/cancel_btn.png"></button>
                    <button class="blue-btn" type="submit" [disabled]="addTaskForm.invalid">Create Task<img
                            src="/assets/img/icons/create_btn.png"></button>
                </div>
            </div>
        </form>

    </div>
</div>