$main-blue-dark: #4589FF;
$main-blue-light: #D2E3FF;
$menu-color: #42526E;
$white: #fff;
$black: #000;
$board-text: #2A3647;
$border-color: #D1D1D1;
$white-btn-boarder: #647188;
$input-border: #A8A8A8;
$light-blue: #005DFF;

//category colors
.MARKETING {
    background-color: #FF7A00;
}

.sales {
    background-color: #FFD600;
}

.development {
    background-color: #00C2FF;
}

.accounting {
    background-color: #00FFA3;
}

.purchase {
    background-color: #FF00A8;
}

// prio colors 
$urgent : #FF3D00;
$medium : #FFA800;
$low : #7AE229;
// user circle colors
$blue : #6E52FF;
$dark-blue : #462F8A;
$pink : #FC71FF;
$purple : #9327FF;
$orange : #FF7A00;
$light-green : #1FD7C1;
$red : #FF4646;


html {
    scroll-behavior: smooth;
}

body {
    background-color: $white;
    overflow: hidden;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
    font-variation-settings: 'wght' 400;
}

@mixin dFlex($fd: row, $jc: center, $ai: center) {
    display: flex;
    flex-direction: $fd;
    justify-content: $jc;
    align-items: $ai;
}

//example : @include dFlex(column, flex-start, center);
@mixin OpenSans($weight, $size, $line-height, $color) {
    font-family: 'Open Sans', sans-serif;
    font-variation-settings: 'wght'$weight;
    font-size: $size;
    line-height: $line-height;
    color: $color;
}

//example : @include OpenSans(700, 64px, 76.8px, $main-blue-dark);

@mixin Inter($weight, $size, $line-height, $color) {
    font-family: 'Inter', inter;
    font-variation-settings: 'wght'$weight;
    font-size: $size;
    line-height: $line-height;
    color: $color;
}

.pointer {
    cursor: pointer;
}

.white-btn {
    width: 136px;
    height: 61px;
    background-color: $white;
    color: $white-btn-boarder;
    border: 1px solid $white-btn-boarder;
    border-radius: 10px;
    padding: 16px 10px;
    gap: 10px;
    cursor: pointer;
    @include OpenSans(400, 23px, 27.6px, $white-btn-boarder);
    @include dFlex(row, center, center);
}

.blue-btn {
    width: 174px;
    height: 60px;
    background-color: $main-blue-dark;
    color: $white;
    border: none;
    border-radius: 10px;
    padding: 16px 10px;
    gap: 4px;
    cursor: pointer;
    @include OpenSans(400, 23px, 27.6px, $white);
    @include dFlex(row, center, center);
}

.back-btn {
    width: 37px;
    height: 37px;
    background-color: $white;
    border-radius: 100%;
    cursor: pointer;
}

.close-btn {
    width: 32px;
    height: 32px;
    background-color: $white;
    border-radius: 100%;
    padding: 4px;
    gap: 10px;
    border: unset;
    cursor: pointer;
    @include dFlex(row, center, center);

    &:hover {
        background-color: $main-blue-light;
    }
}


textarea:focus,
input:focus,
select:focus,
option:focus {
    outline: none;
}