$main-blue-dark: #4589FF;
$main-blue-light: #D2E3FF;
$menu-color: #42526E;
$white: #fff;
$black: #000;
$board-text: #2A3647;
$border-color: #D1D1D1;
$white-btn-boarder: #647188;
$input-border: #A8A8A8;
$light-blue: #005DFF;
$hover-blue: #E3EEFF;
$error: #FF8190;

//category colors
.MARKETING {
    background-color: #FF7A00;
}

.sales {
    background-color: #FFD600;
}

.development {
    background-color: #00C2FF;
}

.accounting {
    background-color: #00FFA3;
}

.purchase {
    background-color: #FF00A8;
}

// prio colors 
$urgent : #FF3D00;
$medium : #FFA800;
$low : #7AE229;
// user circle colors
$blue : #6E52FF;
$dark-blue : #462F8A;
$pink : #FC71FF;
$purple : #9327FF;
$orange : #FF7A00;
$light-green : #1FD7C1;
$red : #FF4646;

.low {
    background-color: $low !important;
    color: $white !important;
    font-weight: bold;
}

.medium {
    background-color: $medium !important;
    color: $white !important;
    font-weight: bold;
}

.urgent {
    background-color: $urgent !important;
    color: $white !important;
    font-weight: bold;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: $white;
    overflow: hidden;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
    font-variation-settings: 'wght' 400;
}

//custom scrollbar
::-webkit-scrollbar {
    width: 6px;
    border-radius: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: $main-blue-dark;
    border-radius: 8px;
}

::-webkit-scrollbar-track {
    background-color: $menu-color;
    border-radius: 8px;
    margin: 10px;
}


@mixin dFlex($fd: row, $jc: center, $ai: center) {
    display: flex;
    flex-direction: $fd;
    justify-content: $jc;
    align-items: $ai;
}

@font-face {
    font-family: 'Open Sans';
    src: url('assets/fonts/OpenSans-Variable.ttf') format('truetype');
    font-weight: 125 950;
    font-stretch: 75% 125%;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('assets/fonts/Inter-Variable.ttf') format('truetype');
    font-weight: 125 950;
    font-stretch: 75% 125%;
    font-style: normal;
}

//example : @include dFlex(column, flex-start, center);
@mixin OpenSans($weight, $size, $line-height, $color) {
    font-family: 'Open Sans', sans-serif;
    font-variation-settings: 'wght'$weight;
    font-size: $size;
    line-height: $line-height;
    color: $color;
}

//example : @include OpenSans(700, 64px, 76.8px, $main-blue-dark);

@mixin Inter($weight, $size, $line-height, $color) {
    font-family: 'Inter', inter;
    font-variation-settings: 'wght'$weight;
    font-size: $size;
    line-height: $line-height;
    color: $color;
}

//example : @include Inter(700, 64px, 76.8px, $main-blue-dark);


.pointer {
    cursor: pointer;
}

.white-btn {
    width: 136px;
    height: 61px;
    background-color: $white;
    color: $white-btn-boarder;
    border: 1px solid $white-btn-boarder;
    border-radius: 10px;
    padding: 16px 10px;
    gap: 10px;
    cursor: pointer;
    @include OpenSans(400, 23px, 27.6px, $white-btn-boarder);
    @include dFlex(row, center, center);
    transition: all 0.175s ease-in-out;
    white-space: nowrap;

    &:hover {
        color: $light-blue;
        border: 1px solid $light-blue;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        transform: scale(1.05);
    }
}

.blue-btn {
    width: 174px;
    height: 60px;
    background-color: $main-blue-dark;
    color: $white;
    border: none;
    border-radius: 10px;
    padding: 16px 10px;
    gap: 4px;
    cursor: pointer;
    @include OpenSans(400, 23px, 27.6px, $white);
    @include dFlex(row, center, center);
    transition: all 0.175s ease-in-out;

    &:hover {
        background-color: darken($color: $main-blue-dark, $amount: 20%);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        transform: scale(1.05);
    }

    &:disabled {
        cursor: not-allowed;
        opacity: 0.6;
        background-color: lighten($main-blue-dark, 10%);
        box-shadow: none;
        transform: none;
    }
}

.back-btn {
    width: 37px;
    height: 37px;
    background-color: $white;
    border-radius: 100%;
    cursor: pointer;
}

.close-btn {
    width: 32px;
    height: 32px;
    background-color: $white;
    border-radius: 100%;
    padding: 4px;
    gap: 10px;
    border: unset;
    cursor: pointer;
    @include dFlex(row, center, center);

    &:hover {
        background-color: $main-blue-light;
    }
}

.padding-unset {
    padding: unset !important;
}

.position-unset {
    position: unset !important;
}

textarea:focus,
input:focus,
select:focus,
option:focus {
    outline: none;
}


input,
textarea,
select {
    padding: 16px;
    @include OpenSans(400, 19px, 22.8px, $black);
}


input::placeholder,
textarea::placeholder {
    @include OpenSans(400, 19px, 22.8px, $border-color);
}

.content-wrapper {
    position: relative;
    width: calc(100vw - 264px);
    height: calc(100vh - 96px);
    padding: 32px 32px 32px 264px;
    box-sizing: content-box;
    overflow-y: auto;
}

// todo fix font size addtask Title
.OS-32 {
    @include OpenSans(400, 32px, 38.4px, $border-color);

    &::placeholder {
        @include OpenSans(400, 32px, 38.4px, $border-color);
    }
}

//form validation error
.form-input-container {
    width: 100%;
    @include dFlex(column, flex-start, center);
    position: relative;

    >.error {
        width: 100%;
        position: absolute;
        bottom: -18px;
        left: 24px;

        span {
            @include Inter(400, 13px, 15.6px, $error);
        }
    }
}

.form-input-container.ng-invalid.ng-touched .error {
    display: block;
}

@media only screen and (max-width: 1200px) {
    .content-wrapper {
        width: 100vw;
        height: calc(100vh - 154px);
        padding: 32px 32px 32px 32px;
        box-sizing: border-box;
    }

    .blue-btn {}

    .white-btn {}
}