<div class="forgot-password-wrapper">
    <app-header></app-header>
    <div class="forgot-password-form">
        @if (this.showForgottPasswordForm) {
        <h1>Forgot your password?</h1>
        <p>We will send you an email with instructions to reset your password.</p>
        <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
            <div class="form-input-container input-wrapper">
                <input type="text" formControlName="email" placeholder="Email"><img
                    src="assets/img/icons/login_mail.png" alt="logo" class="logo">
                @if (forgotPasswordForm.get('email')?.invalid && forgotPasswordForm.get('email')?.touched) {
                <div class="error">
                    <span>Enter a valid email</span>
                </div>
                }
            </div>
            <div class="btn-container">
                <button type="submit" class="blue-btn" [disabled]="forgotPasswordForm.invalid">Send mail</button>
            </div>
        </form>
        } @else {
        <div class="signup-success-container">
            <h1>Password reset email sent</h1>
            <p>Please check your emails for instructions on how to change your password.</p>
            <img src="../../../assets/img/icons/email.svg" alt="success">
        </div>
        }
    </div>
    <app-footer></app-footer>
</div>